__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
analyze_dataset.py
plot.py
test.py

# Data and Logs
data/
training_log.csv
model_summary.json
*.bin
*.msgpack
*.csv
wandb/
runs/
analyze_runs.py
*.ipynb
core/old_model.py
plot.py
plot_compression.py

# Environment
venv/
.env

