tiktoken==0.7.0
aiofiles==25.1.0
smart-open==7.1.0
wheel==0.44.0
torchaudio==2.5.1
nvidia-cuda-nvcc-cu12==12.9.86
vllm==0.7.1
frozenlist==1.5.0
charset-normalizer==3.3.2
fsspec==2024.9.0
jsonpatch==1.33
py-spy==0.4.0
frozendict==2.4.2
filelock==3.17.0
trl==0.14.0
googleapis-common-protos==1.66.0
optax==0.2.6
conda-package-handling==2.3.0
markdown-it-py==3.0.0
wadler_lindig==0.1.7
rsa==4.9
triton==3.1.0
zstandard==0.23.0
python-dotenv==1.0.1
archspec==0.2.3
pluggy==1.5.0
scipy==1.17.1
certifi==2024.8.30
lm-format-enforcer==0.10.9
nvidia-cusolver-cu12==11.6.1.9
yarl==1.18.3
dill==0.3.8
huggingface-hub==0.28.1
smmap==5.0.3
datasets==3.2.0
aiosignal==1.3.2
accelerate==1.3.0
outlines==0.1.11
opencensus-context==0.1.3
attrs==25.1.0
conda_package_streaming==0.10.0
httptools==0.6.4
nvidia-cuda-cccl-cu12==12.9.27
torchvision==0.20.1
ray==2.41.0
conda==24.9.2
propcache==0.2.1
referencing==0.36.2
wandb==0.25.1
pycountry==24.6.1
libmambapy==1.5.8
nvidia-cuda-runtime-cu12==12.4.127
peft==0.14.0
mistral_common==1.5.2
mypy_extensions==1.1.0
grpcio==1.70.0
pip==24.2
partial-json-parser==0.2.1.1.post5
MarkupSafe==3.0.2
cffi==1.17.1
tqdm==4.66.5
humanize==4.15.0
Pygments==2.19.1
google-auth==2.38.0
depyf==0.18.0
msgspec==0.19.0
sentencepiece==0.2.0
sympy==1.13.1
nvidia-nccl-cu12==2.21.5
httpx==0.28.1
pytest==8.3.4
nvidia-cufft-cu12==11.2.1.3
astor==0.8.1
conda-content-trust==0.2.0
mdurl==0.1.2
marshmallow==3.26.2
google-api-core==2.24.1
nvidia-cuda-nvrtc-cu12==12.4.127
opt_einsum==3.4.0
prometheus_client==0.21.1
diskcache==5.6.3
pytz==2025.1
proto-plus==1.26.0
fastapi==0.115.8
pycparser==2.21
jiter==0.8.2
jaxtyping==0.3.9
aiohttp==3.11.11
zipp==3.21.0
prometheus-fastapi-instrumentator==7.0.2
outlines_core==0.1.26
pydantic_core==2.27.2
wrapt==1.17.2
jax==0.9.1
PySocks==1.7.1
colorful==0.5.6
absl-py==2.4.0
sentry-sdk==2.54.0
idna==3.7
cachetools==5.5.1
distro==1.9.0
flax==0.12.5
toolz==1.1.0
jsonschema-specifications==2024.10.1
interegular==0.3.3
six==1.17.0
airportsdata==20241001
jsonschema==4.23.0
starlette==0.45.3
gguf==0.10.0
pyzmq==26.2.1
msgpack==1.1.0
compressed-tensors==0.9.0
packaging==24.1
einops==0.8.0
nvidia-cuda-cupti-cu12==12.4.127
anyio==4.8.0
tzdata==2025.1
chex==0.1.91
jsonpointer==2.1
opencensus==0.11.4
xgrammar==0.1.11
boltons==23.0.0
treescope==0.1.10
orbax-checkpoint==0.11.33
numpy==2.4.2
urllib3==2.2.3
sniffio==1.3.1
jax-cuda12-plugin==0.9.1
multidict==6.1.0
nvidia-nvshmem-cu12==3.5.21
rpds-py==0.22.3
click==8.1.8
jax-cuda12-pjrt==0.9.1
Brotli==1.0.9
xformers==0.0.28.post3
opencv-python-headless==4.11.0.86
pyarrow==19.0.0
platformdirs==3.10.0
psutil==6.1.1
py-cpuinfo==9.0.0
torch==2.5.1
cryptography==43.0.0
nvidia-curand-cu12==10.3.5.147
nest-asyncio==1.6.0
aiohappyeyeballs==2.4.4
PyYAML==6.0.2
xxhash==3.5.0
importlib_metadata==8.6.1
pyasn1==0.6.1
orbax-export==0.0.8
nvidia-cusparse-cu12==12.3.1.170
nvidia-ml-py==12.570.86
GitPython==3.1.46
dataclasses-json==0.6.7
pandas==2.2.3
Jinja2==3.1.5
setuptools==75.1.0
pycosat==0.6.6
typing_extensions==4.15.0
nvidia-cublas-cu12==12.4.5.8
pybind11==2.13.6
etils==1.14.0
regex==2024.11.6
jaxlib==0.9.1
pillow==10.4.0
nvidia-nvjitlink-cu12==12.4.127
uvicorn==0.34.0
python-dateutil==2.9.0.post0
ruamel.yaml==0.18.6
truststore==0.8.0
uvloop==0.21.0
websockets==14.2
blake3==1.0.4
distlib==0.3.9
conda-libmamba-solver==24.9.0
pyasn1_modules==0.4.1
lark==1.2.2
transformers==4.48.2
mpmath==1.3.0
ruamel.yaml.clib==0.2.8
iniconfig==2.0.0
cloudpickle==3.1.1
networkx==3.4.2
simplejson==3.20.2
annotated-types==0.7.0
bitsandbytes==0.45.1
nvidia-nvtx-cu12==12.4.127
openai==1.61.0
menuinst==2.1.2
httpcore==1.0.7
rich==13.9.4
typing-inspect==0.9.0
anaconda-anon-usage==0.4.4
virtualenv==20.29.1
ml_dtypes==0.5.4
safetensors==0.5.2
aiohttp-cors==0.7.0
watchfiles==1.0.4
nvidia-cudnn-cu12==9.19.0.56
multiprocess==0.70.16
pydantic==2.10.6
h11==0.14.0
tokenizers==0.21.0
gitdb==4.0.12
tensorstore==0.1.81
protobuf==5.29.3
requests==2.32.3
